timo-db/src/main/resources/META-INF/sharding-config.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT shardingConfig (ignoreList?,parseList?,strategy*)>
<!ELEMENT ignoreList (value+)>
<!ELEMENT parseList (value+)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT strategy (property+)>
<!ATTLIST strategy
tableName CDATA #REQUIRED
strategyClass CDATA #REQUIRED
>
<!ELEMENT property EMPTY>
<!ATTLIST property
name CDATA #REQUIRED
value CDATA #REQUIRED
>